/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@charset "utf-8";
@import 'compass/css3';
@import "normalize";

@import "uikit_scss/uikit-mixins.scss";
@import "uikit_scss/uikit.scss";
@import "uikit_scss/components/autocomplete.scss";

// Global variables
// ========================================================================

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@font-face {
    font-family: 'DINPro-Light';
    src: font-url('DINPro-Light.eot');
    src: font-url('DINPro-Light.woff2') format('woff2'),
        font-url('DINPro-Light.woff') format('woff'),
        font-url('DINPro-Light.ttf') format('truetype'),
        font-url('DINPro-Light.svg#DINPro-Light') format('svg'),
        font-url('DINPro-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


$main_font_family:                'DINPro-Light';
$bg_main:                         #eaeaea;
$bg_primary:                      #2096f1;
$bg_opacity:                      rgba(0, 0, 0, 0.15);

$color_main:                      #444;
$color_primary:                   #3399ff;
$color_success:                   #f0d35b;
$color_mitted:                    #9aa7b3;

$footer_height:                                 270px;

// Mixin =======================================================================

// Style for columns text 
// Используется для многоколоночного адаптивного текста, а также для списков
// $width - минимальная ширина колонок
// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
// $padding - отступ между колонками
// $divider_widh - ширина разделительной линии между колонками
// $divider_line - стиль разделительной линии 
// $divider_color - цвет разделительной линии 
// Лишнее можно просто закомментировать
// ---------------------------------
// Example for html 
// div class="column"
// ---------------------------------
// Example for scss 
// .column {
//  @include columns-text(300px, 3, 40px, 1px, solid, #000);
// }
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
    @include columns($width $count); // Count and width or columns
    @include column-gap($padding); // Padding for columns
    @include column-rule($divider_widh $divider_line $divider_color); // Divider for columns
}


// Float el clear
%clear_a {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%clear_b {
    &:before {
        content: '';
        display: table;
        clear: both;
    }
}

%clear_all {
    @extend %clear_a;
    @extend %clear_b;
}

// Transition speed for element
@mixin trs($trs_speed) {
    @include transition(all $trs_speed);
}


// Placeholder for input
@mixin placeholder {
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder           {@content};
    ::-moz-placeholder          {@content};
    :-ms-input-placeholder      {@content}; 
}

// Reset brouser styles ========================
* {
    @include box-sizing(border-box);
}

body {
    font: 16px $main_font_family;
    line-height: 1.3;
}

html,body,.wrapper {
    height: 100%;
    position: relative;
    @include box-sizing(content-box);
    // @media (max-width: 480px) {
    //     height: auto;
    // }
}

.main__content {
    padding-bottom: $footer_height;
    @extend %clear_a;
    @media (max-width: 480px) {
        padding-bottom: 360px;
    }
}

.wrapper {
    background-color: $bg_main;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height) auto;
    @media (max-width: 480px) {
        margin: 0 auto -360px;
    }
}


// Uikit restyle ============================================
.uk-container {
    max-width: 1410px;
    padding: 0 5px;
    @extend %clear_a;
}
.uk-button {
    line-height: 1.2;
    padding: 7px 15px;
    min-height: inherit;
    @include border-radius(20px);
    &-primary {
        border-color: #2096f1;
        background: $bg_opacity;
        color: #fff;
        @include trs(.3s);
        &:hover,&:focus {
            border-color: $color_primary;
            color: #fff;
            background: transparentize(#000, .7);
        }
    }
    &-success {
        color: #3399ff;
        border: 2px solid #f0d35b;
        &:hover,&:focus {
            color: #ffffff;
            background: $bg_opacity;
        }
    }
}

// Header ===================================================
.header {
    background-color: $bg_primary;
    padding-top: 15px;
    padding-bottom: 15px;
    @extend %clear_a;
    .uk {
        &-container {}
        &-navbar-brand {
            max-width: 150px;
            height: auto;
            @extend %clear_a;
            &:before {
                content: '';
                display: none;
            }
            img {
                display: inline-block;
            }
        }
        &-navbar {
            &-content {
                height: auto;
                &:before {
                    display: none;
                }
            }
            &-center {
                a {
                    color: #fff;
                    height: auto;
                    line-height: 1.3;
                    font-size: 18px;
                    padding: 10px 10px 0;
                    font-weight: normal;
                    font-family: $main_font_family;
                    white-space: nowrap;
                    @include trs(0.3s);
                    &:after {
                        content: '';
                        display: block;
                        height: 1px;
                        background-color: transparent;
                        margin-top: 4px;
                        width: 0;
                        margin-left: 50%;
                        @include trs(0.3s);
                    }
                    &:hover {
                        background-color: transparent;
                        color: #fff;
                        &:after {
                            background-color: #fff;
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                    @media (max-width: 960px) {
                        padding: 4px 5px 0;
                        font-size: 16px;
                    }
                }
                @media (max-width:960px) {
                    margin-top: -4px;
                }
            }
            &-nav {
                float: none;
                @extend %clear_a;
                &-item {
                    float: none;
                    display: inline-block;
                }
            }
            &-nav-item {}
            &-flip {}
            &-toggle {
                color: #fff;
                font-size: 21px;
            }
        }
        &-button-dropdown {
            .uk-button {
                background-color: transparent;
                color: #fff;
                padding: 0;
                line-height: 1.3;
                min-height: inherit;
                display: block;
                margin-top: -4px;
                @media (max-width:960px) {
                    font-size: 12px;
                    margin-top: -2px;
                }
            }
        }
        &-button {}
        &-nav {
            &-dropdown {}
        }
        &-dropdown {
            width: auto;
            padding: 0px 15px;
            background-color: transparentize(#fff, .5);
            a {
                padding: 3px 6px;
                font-size: 11px;
                white-space: nowrap;
                // color: $color_primary;
            }
        }
    }
    &-right-box {
        margin-top: 6px;
        white-space: nowrap;
        &>* {
            display: inline-block;
            vertical-align: middle;
        }
        &>a {
            color: #fff !important;
            margin: 0 5px;
            font-size: 16px;
            &:not(.uk-button):after {
                content: '';
                display: block;
                height: 1px;
                background-color: transparent;
                margin-top: 2px;
                width: 0;
                margin-left: 50%;
                @include trs(0.3s);
            }
            &:hover,&:focus {
                text-decoration: none;
                &:not(.uk-button):after {
                    background-color: #fff;
                    width: 100%;
                    margin-left: 0;
                }
            }
            @media (max-width:960px) {
                font-size: 12px;
            }
        }
        .uk-button {
            vertical-align: baseline;
            @media (max-width:960px) {
                padding: 5px 7px;
            }
        }
        @media (max-width:960px) {
            margin-top: 0;
        }
    }
}

// Header nav -----------------------------------------------
.uk-navbar {
    background-color: $bg_primary;
    @extend %clear_a;
}
.uk-navbar-center {
    max-width: none;
    overflow: hidden;
    @extend %clear_a;
}


// Footer ===================================================
.footer {
    position: relative;
    text-align: center;
    height: $footer_height;
    background-color: $bg_primary;
    color: #fff;
    padding: 40px 0;
    @extend %clear_a;
    @media (max-width:960px) {
        font-size: 14px;
    }
    @media (max-width: 767px) {
        padding: 20px 0;
        // height: auto;
    }
    @media (max-width:480px) {
        height: 360px;
    }
    .uk-container {
        @media (max-width: 1200px) {
            padding-left: 50px;
            padding-right: 50px;
        }
        @media (max-width: 767px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &_subnav {
        width: 100%;
        margin: 28px auto 26px;
        padding-left: 0;
        @media (max-width: 767px) {
            margin-top: 15px;
        }
        &:before {
            content: '';
            border-top: 2px dotted #fff;
            display: block;
            margin-bottom: 23px;
            width: 90%;
            margin-left: 5%;
            @media (max-width: 1200px) {
                margin-left: 0;
                width: 100%;
            }
        }
        li {
            float: none;
            display: inline-block;
            padding: 5px;
        }
        a {
            color: #fff;
            &:after {
                content: '';
                display: block;
                height: 1px;
                background-color: transparent;
                margin-top: 2px;
                width: 0;
                margin-left: 50%;
                @include trs(0.3s);
            }
            &:hover,&:focus {
                background-color: transparent;
                color: #fff;
                text-decoration: none;
                &:after {
                    background-color: #fff;
                    width: 100%;
                    margin-left: 0;
                }
            }
            @media (max-width:960px) {

            }
        }
    }
    &_copyrite {
        margin-bottom: 10px;        
    }
    &_logo {
        max-width: 30px;
        display: inline-block;
    }
    &_soc {
        top: 8%;
        position: absolute;
        right: 5px;
        a {
            font-size: 50px;
            color: #fff !important;
            vertical-align: bottom;
            text-decoration: none !important;
            display: block;
            margin-bottom: 2px;
            @media (max-width: 1200px) {
                font-size: 36px;
            }
        }
        @media (max-width: 767px) {
            position: static;
            margin-top: 15px;
            a {
                display: inline-block;
            }
        }
    }
}

// Off canvas ==============================================
.uk-offcanvas {
    background: rgba(0,0,0,0.2);
    &-bar {
        background-color: #1F6093;
        @include box-shadow(0 0 15px transparentize(#000, .5));
    }
    &-bar-flip {}
    &-bar-show {}
    .uk-nav {
        &-parent-icon {}
        &-sub {}
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .uk-navbar-nav-item {
        &:hover {
            background-color: lighten($bg_primary, 10%);
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .uk-parent {}
    .uk-navbar-brand {
        max-width: 150px;
        padding: 0 13px 10px;
        float: none;
        height: auto;
        @extend %clear_a;
    }
}